<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.willian.zwj_scan_plugin">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application>
        <activity
            android:name="com.huawei.hms.hmsscankit.ScanKitActivity" />
    </application>
</manifest>
